'scopeName': 'source.sbjson'
'name': 'Starbound JSON v2'
'fileTypes': [
  'avsc'
  'babelrc'
  'bowerrc'
  'composer.lock'
  'geojson'
  'gltf'
  'htmlhintrc'
  'ipynb'
  'jscsrc'
  'jshintrc'
  'jslintrc'
  'json'
  'jsonl'
  'jsonld'
  'languagebabel'
  'ldj'
  'ldjson'
  'Pipfile.lock'
  'schema'
  'stylintrc'
  'template'
  'tern-config'
  'tern-project'
  'tfstate'
  'tfstate.backup'
  'topojson'
  'webapp'
  'webmanifest'
  '2functions'
	'achievement'
	'activeitem'
	'aimission'
	'animation'
	'augment'
	'back'
	'beamaxe'
	'behavior'
	'behavior-project'
	'biome'
	'bush'
	'chest'
	'cinematic'
	'codex'
	'collection'
	'combofinisher'
	'configfunctions'
	'consumable'
	'currency'
	'cursor'
	'damage'
	'disabled'
	'dungeon'
	'effectsource'
	'event'
	'flashlight'
	'frames'
	'functions'
	'grass'
	'harvestingtool'
	'head'
	'inspectiontool'
	'instrument'
	'item'
	'itemdescription'
	'legs'
	'liqitem'
	'liquid'
	'material'
	'matitem'
	'matmod'
	'miningtool'
	'modularfoliage'
	'modularstem'
	'monsterpart'
	'monsterskill'
	'monstertype'
	'namesource'
	'nodes'
	'npctype'
	'object'
	'painttool'
	'parallax'
	'particle'
	'particlesource'
	'partparams'
	'patch'
	'projectile'
	'questtemplate'
	'radiomessages'
	'recipe'
	'spawntypes'
	'species'
	'stagehand'
	'statuseffect'
	'structure'
	'tech'
	'tenant'
	'terrain'
	'thrownitem'
	'tillingtool'
	'tooltip'
	'treasurepools'
	'unlock'
	'vehicle'
	'weaponability'
	'weather'
	'wiretool'
]
'patterns': [
  {
    'include': '#value'
  }
]
'repository':
  'array':
    'begin': '\\['
    'beginCaptures':
      '0':
        'name': 'punctuation.definition.array.begin.json'
    'end': '(,)?[\\s\\n]*(\\])'
    'endCaptures':
      '1':
        'name': 'invalid.illegal.trailing-array-separator.json'
      '2':
        'name': 'punctuation.definition.array.end.json'
    'name': 'meta.structure.array.json'
    'patterns': [
      {
        'include': '#value'
      }
      {
        'match': ','
        'name': 'punctuation.separator.array.json'
      }
      {
        'match': '[^\\s\\]]'
        'name': 'invalid.illegal.expected-array-separator.json'
      }
    ]
  'constant':
    'match': '\\b(true|false|null)\\b'
    'name': 'constant.language.json'
  'number':
    'match': '-?(?=[1-9]|0(?!\\d))\\d+(\\.\\d+)?([eE][+-]?\\d+)?'
    'name': 'constant.numeric.json'
  'object':
    'begin': '{'
    'beginCaptures':
      '0':
        'name': 'punctuation.definition.dictionary.begin.json'
    'end': '}'
    'endCaptures':
      '0':
        'name': 'punctuation.definition.dictionary.end.json'
    'name': 'meta.structure.dictionary.json'
    'patterns': [
      {
        # the key
        'begin': '(?=")'
        'end': '(?<=")'
        'name': 'meta.structure.dictionary.key.json'
        'patterns': [
          {
            'include': '#string'
          }
        ]
      }
      {
        'begin': ':'
        'beginCaptures':
          '0':
            'name': 'punctuation.separator.dictionary.key-value.json'
        'end': '(,)(?=[\\s\\n]*})|(,)|(?=})'
        'endCaptures':
          '1':
            'name': 'invalid.illegal.trailing-dictionary-separator.json'
          '2':
            'name': 'punctuation.separator.dictionary.pair.json'
        'name': 'meta.structure.dictionary.value.json'
        'patterns': [
          {
            # the value
            'include': '#value'
          }
          {
            'match': '[^\\s,]'
            'name': 'invalid.illegal.expected-dictionary-separator.json'
          }
        ]
      }
      {
        'match': '[^\\s}]'
        'name': 'invalid.illegal.expected-dictionary-separator.json'
      }
    ]
  'string':
    'begin': '"'
    'beginCaptures':
      '0':
        'name': 'punctuation.definition.string.begin.json'
    'end': '"'
    'endCaptures':
      '0':
        'name': 'punctuation.definition.string.end.json'
    'name': 'string.quoted.double.json'
    'patterns': [
      {
        'match': '''(?x)
          \\\\                # a literal backslash
          (                   # followed by
            ["\\\\/bfnrt]     # one of these characters
            |                 # or
            u[0-9a-fA-F]{4}   # a u and four hex digits
          )
        '''
        'name': 'constant.character.escape.json'
      }
      {
        'match': '\\\\.'
        'name': 'invalid.illegal.unrecognized-string-escape.json'
      }
    ]
  'value':
    # the 'value' diagram at http://json.org
    'patterns': [
      {
        'include': '#constant'
      }
      {
        'include': '#number'
      }
      {
        'include': '#string'
      }
      {
        'include': '#array'
      }
      {
        'include': '#object'
      }
    ]
  'comments':
    'patterns': [
      {
        'match': '/{2}.*'
        'name': 'comment.single.json'
      }
      {
        'begin': '/\\*\\*(?!/)'
        'captures':
          '0':
            'name': 'punctuation.definition.comment.json'
        'end': '\\*/'
        'name': 'comment.block.json.begin'
      }
      {
        'begin': '/\\*'
        'captures':
          '0':
            'name': 'punctuation.definition.comment.json'
        'end': '\\*/'
        'name': 'comment.block.json.end'
      }
    ]
